--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/onnxruntime-cuda-12/pypi/simple/
onnxruntime-gpu==1.18.0
av==14.2.0
tqdm==4.66.4
torchaudio==2.4.0
transformers==4.44.1
h5py==3.13.0
webrtcvad==2.0.10
scipy==1.14.1
torch==2.4.0
soundfile==0.13.1
librosa==0.10.2.post1
omegaconf==2.3.0
hydra-core==1.3.2
